JWT_SECRET=123
INTERNAL_API_KEY=123
ADMIN_TOKEN=123

AUTH_DATABASE_URL=postgresql+psycopg://postgres:postgres@auth_db:5432/auth_db
UPLOAD_DATABASE_URL=postgresql+psycopg://postgres:postgres@upload_db:5432/upload_db
FEED_DATABASE_URL=postgresql+psycopg://postgres:postgres@feed_db:5432/feed_db
MODERATION_DATABASE_URL=postgresql+psycopg://postgres:postgres@moderation_db:5432/moderation_db

REDIS_CACHE_URL=redis://redis_cache:6379/0
REDIS_QUEUE_URL=redis://redis_queue:6379/0

S3_ENDPOINT_URL=http://minio:9000
S3_PUBLIC_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_REGION=us-east-1
S3_BUCKET_RAW=raw-videos
S3_BUCKET_HLS=hls-videos
CDN_BASE_URL=http://localhost:9000/hls-videos

AUTH_SERVICE_URL=http://auth_service:8000
UPLOAD_SERVICE_URL=http://upload_service:8000
FEED_SERVICE_URL=http://feed_service:8000
MODERATION_SERVICE_URL=http://moderation_service:8000
